header{
	background: #333333;
	color: #13E504;
	padding: 2em;
}

img[alt= "welcome to my homepage"]{
	display: block;
	margin: 4em auto 1em auto;
}


.container > h1 {
	display: inline;
	margin: 0 1em 0 1em;
}

.container > em {
	display: inline;
}

/**
Instructions:
 */

.instructions-wrapper {
	margin: 2em;
	padding: 1em;
	border: solid black 3px;
	display: flex;
	justify-content: left;
}

img[src="images/captain-janeway.png"]{
	width: 16em;
	height: 10em;
	display: flex;
	justify-content: right;
	align-items: flex-end;
	padding: 1em 1em 1em 20em;
}

html, body {
	alignment: center;
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

/**
About Me:
 */

img[alt="captain picard"]{
	border: solid white 2px;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	margin: 2em;
	background: blue;
	width: 20em;
	height: auto;
}

.about-me >.container {
	background: blue;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
}

.about-me{
	background: blue;
}

.about-me-words {
	font-weight: bold;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-direction: column;
	padding: 1em;
}

.about-me-title {
	font-family:"Comic Sans MS","Comic Sans",cursive;
}

span {
	color: yellow;
}

.clearfix {
	clear: both;
}

/**
Skills:
 */

th, td {
	background: #333333;
	padding-right: 20em;
}

th{
	color: #0FDC04;
	padding: 1em;
}

td{
	color: #0FC511;
	padding: 1em;
}


/* THIS WAS HERE BEFORE I ENTERED ANY CSS. */
/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

.table-container >h2 {
	text-align: right;
}

.table-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2em 12.5em 2em 12.5em;
	object-position: center;
	text-align: left;
}

/**
Contact Form:
 */

.contact-container {
	background: #333333;
	display: flex;
	justify-content:center;
	padding: 3em 20em 3em 20em;
}

.form-wrapper{
	background: #006400;
	display: flex;
	flex-direction: column;
	padding: 0 43.7em 2em 1em;
	margin: 0 10em 0 10em;
}

.form-wrapper {
	color: #13E504;
}

label {
	display:block;
}

input {
	padding-right: 18em;
	margin: .5em 0;
}
textarea {
	padding: 1em 12.75em 0 0;
	margin: .5em 0 0 0;
}

button {
	background: #13E504;
	border: none;
	padding: .3em 1.5em;
	margin: .5em 0;
}





@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

/**
Footer Content:
 */

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer{
	background: black;
	color: white;
	text-align: center;
}

/**
Extra Header Info:
 */

h1{
	font-family: "Noto Sans", sans-serif;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



